


.buscador-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.buscador-input {
  display: flex;
  justify-content: center;
  align-items: center;
}




.containerLibro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
  width: 100%;

&-box {
  display: flex;
  width: 140px;
  height: 210px;
  flex-direction: column;

}
&_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 10px;
}

}
